In [7]:
record = {1001 : {'Name' :'5 Star'        , 'Price': 10   , 'Qn' : 200},
          1002 : {'Name' :'Kitkat'        , 'Price': 20   , 'Qn' : 300}, 
          1003 : {'Name' :'Candy'         , 'Price': 2    , 'Qn' : 1000}, 
          1004 : {'Name' :'Chocolate Cake', 'Price': 550  , 'Qn' : 8},
          1005 : {'Name' :'Blueberry Cake', 'Price': 650  , 'Qn' : 5}}

In [8]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Kitkat', 'Price': 20, 'Qn': 300},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [14]:
# To print the menu in proper format

print('---------------MENU---------------\n')
for key in record.keys():
    print(key,':', record[key]['Name'],'|', record[key]['Price'],'|', record[key]['Qn'])
print('\n----------------------------------')

---------------MENU---------------

1001 : 5 Star | 10 | 200
1002 : Kitkat | 20 | 300
1003 : Candy | 2 | 1000
1004 : Chocolate Cake | 550 | 8
1005 : Blueberry Cake | 650 | 5

----------------------------------

In [18]:
print('---------------MENU---------------\n')
for key in record.keys():
    print(key,':', record[key]['Name'],'|', record[key]['Price'],'|', record[key]['Qn'])
print('\n----------------------------------')

ui_pr = int(input('Enter product ID : '))
ui_qn = int(input('Enter quantity   : '))
print('\n----------------------------------')
print('               Bill                 \n')

print('Name             : ', record[ui_pr]['Name'])
print('Price            : ', record[ui_pr]['Price'],'Rs')
print('Quantity         : ', ui_qn)
print('----------------------------------')

print('Billing Amount   : ', record[ui_pr]['Price'] * ui_qn,'Rs')
print('----------------------------------')

---------------MENU---------------

1001 : 5 Star | 10 | 200
1002 : Kitkat | 20 | 300
1003 : Candy | 2 | 1000
1004 : Chocolate Cake | 550 | 8
1005 : Blueberry Cake | 650 | 5

----------------------------------

Enter product ID :  1002
Enter quantity   :  50

----------------------------------
               Bill

Name             :  Kitkat
Price            :  20 Rs
Quantity         :  50
----------------------------------
Billing Amount   :  1000 Rs
----------------------------------

In [31]:
import json  #to save data locally

record = {1001 : {'Name' :'5 Star'        , 'Price': 10   , 'Qn' : 200},
          1002 : {'Name' :'Kitkat'        , 'Price': 20   , 'Qn' : 300}, 
          1003 : {'Name' :'Candy'         , 'Price': 2    , 'Qn' : 1000}, 
          1004 : {'Name' :'Chocolate Cake', 'Price': 550  , 'Qn' : 8},
          1005 : {'Name' :'Blueberry Cake', 'Price': 650  , 'Qn' : 5}}

print('---------------MENU---------------\n')
for key in record.keys():
    print(key,':', record[key]['Name'],'|', record[key]['Price'],'|', record[key]['Qn'])
print('\n----------------------------------')

ui_pr = str(input('Enter product ID : '))
ui_qn = int(input('Enter quantity   : '))

print('\n----------------------------------')
print('               Bill                 \n')

print('Name             : ', record[ui_pr]['Name'])
print('Price            : ', record[ui_pr]['Price'],'Rs')
print('Quantity         : ', ui_qn)
print('----------------------------------')

print('Billing Amount   : ', record[ui_pr]['Price'] * ui_qn,'Rs')
print('----------------------------------')

js = json.dumps(record) 

fd = open('Records.json','w')
fd.write(js)
fd.close()

---------------MENU---------------

1001 : 5 Star | 10 | 200
1002 : Kitkat | 20 | 300
1003 : Candy | 2 | 1000
1004 : Chocolate Cake | 550 | 8
1005 : Blueberry Cake | 650 | 5

----------------------------------

Enter product ID :  1004
Enter quantity   :  5

----------------------------------
               Bill

Name             :  Chocolate Cake
Price            :  550 Rs
Quantity         :  5
----------------------------------
Billing Amount   :  2750 Rs
----------------------------------

In [30]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Kitkat', 'Price': 20, 'Qn': 300},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [25]:
js = json.dumps(record)        #to convert dictionary into json string format
print(js)

{"1001": {"Name": "5 Star", "Price": 10, "Qn": 200}, "1002": {"Name": "Kitkat", "Price": 20, "Qn": 300}, "1003": {"Name": "Candy", "Price": 2, "Qn": 1000}, "1004": {"Name": "Chocolate Cake", "Price": 550, "Qn": 8}, "1005": {"Name": "Blueberry Cake", "Price": 650, "Qn": 5}}

In [22]:
type(json.dumps(record))  #checking the type of data

str

In [35]:
fd = open('Records.json','w')

fd.write(js)

fd.close()

In [36]:
js

'{"1001": {"Name": "5 Star", "Price": 10, "Qn": 200}, "1002": {"Name": "Kitkat", "Price": 20, "Qn": 300}, "1003": {"Name": "Candy", "Price": 2, "Qn": 1000}, "1004": {"Name": "Chocolate Cake", "Price": 550, "Qn": 8}, "1005": {"Name": "Blueberry Cake", "Price": 650, "Qn": 5}}'

In [37]:
json.loads(js)   #Converts back json string to the Dictionary

{'1001': {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 '1002': {'Name': 'Kitkat', 'Price': 20, 'Qn': 300},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 '1005': {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [38]:
fd = open('Records.json','r')
js = fd.read()
fd.close()

In [39]:
json.loads(js)

{'1001': {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 '1002': {'Name': 'Kitkat', 'Price': 20, 'Qn': 300},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 '1005': {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [40]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Kitkat', 'Price': 20, 'Qn': 300},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [55]:
# To load data

import json  #to save data locally

fd = open('Records.json','r')
js = fd.read()
fd.close()

record = json.loads(js)      # Convert JSON string to dictionary

print('---------------MENU---------------\n')
for key in record.keys():
    print(key,':', record[key]['Name'],'|', record[key]['Price'],'|', record[key]['Qn'])
print('\n----------------------------------')

ui_pr = str(input('Enter product ID : '))
ui_qn = int(input('Enter quantity   : '))

if(record[ui_pr]['Qn'] >= ui_qn):

    # UPDATE INVENTORY AFTER PURCHASING
    record[str(ui_pr)]['Qn'] = record[str(ui_pr)]['Qn'] - ui_qn

    print('\n----------------------------------')
    print('               Bill                 \n')

    print('Name             : ', record[ui_pr]['Name'])
    print('Price            : ', record[ui_pr]['Price'],'Rs')
    print('Quantity         : ', ui_qn)
    print('----------------------------------')

    print('Billing Amount   : ', record[ui_pr]['Price'] * ui_qn,'Rs')
    print('----------------------------------')

else:
    print("Sorry, We're not having enough quantity of product in our Inventory.")
    print("We're only having " + str(record[ui_pr]['Qn']) + " quantity.")

    ch = input("Press Y/y to purchase: ")

    if(ch == "Y" or ch == "y"):
    
        print('\n----------------------------------')
        print('               Bill                 \n')

        print('Name             : ', record[ui_pr]['Name'])
        print('Price            : ', record[ui_pr]['Price'],'Rs')
        print('Quantity         : ', record[ui_pr]['Qn'])
        print('----------------------------------')

        print('Billing Amount   : ', record[ui_pr]['Price'] * record[ui_pr]['Qn'],'Rs')
        print('----------------------------------')
        record[str(ui_pr)]['Qn'] = 0
    
    else:
        print("Thanks!!")
        
js = json.dumps(record)       # Convert dictionary to JSON string 

fd = open('Records.json','w')
fd.write(js)
fd.close()

---------------MENU---------------

1001 : 5 Star | 10 | 200
1002 : Kitkat | 20 | 300
1003 : Candy | 2 | 1000
1004 : Chocolate Cake | 550 | 4
1005 : Blueberry Cake | 650 | 1

----------------------------------

Enter product ID :  1004
Enter quantity   :  5

Sorry, We're not having enough quantity of product in our Inventory.
We're only having 4 quantity.

Press Y/y to purchase:  y

----------------------------------
               Bill

Name             :  Chocolate Cake
Price            :  550 Rs
Quantity         :  4
----------------------------------
Billing Amount   :  2200 Rs
----------------------------------

In [56]:
record

{'1001': {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 '1002': {'Name': 'Kitkat', 'Price': 20, 'Qn': 300},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 0},
 '1005': {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 1}}